<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center background" >
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Consigue Trabajo</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="job-listing-area">
      <div class="container">
          <div class="row">
              <div class="col-xl-9 col-lg-9 col-md-8">
                  <section class="featured-job-area">
                      <div class="container">

                          <div class="single-job-items mb-30">
                              <div class="job-items">
                                  <div class="company-img">
                                      <img src="assets/img/icon/job-list1.png" alt="">
                                  </div>
                                  <div class="job-tittle job-tittle2">

                                          <h4>Desarrollador Angular</h4>
                                      <ul>
                                          <li>Agencia Creativa</li>
                                          <li><i class="fas fa-map-marker-alt"></i>Florida, US</li>
                                          <li>RD$135,000 - $170,000</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="items-link items-link2 f-right">
                                <a routerLink="/work-detail">Ver Completo</a>
                                  <span>Hace 7 Horas</span>
                              </div>
                          </div>


                          <div class="single-job-items mb-30">
                              <div class="job-items">
                                  <div class="company-img">
                                      <a href="#"><img src="assets/img/icon/job-list2.png" alt=""></a>
                                  </div>
                                  <div class="job-tittle job-tittle2">
                                      <a href="#">
                                          <h4>Backend Developer</h4>
                                      </a>
                                      <ul>
                                          <li>Consultora de Software</li>
                                          <li><i class="fas fa-map-marker-alt"></i>California, US</li>
                                          <li>RD$95,000 - 200,000</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="items-link items-link2 f-right">
                                <a routerLink="/work-detail">Ver Completo</a>
                                  <span>Hace 2 Dias</span>
                              </div>
                          </div>

                          <div class="single-job-items mb-30">
                              <div class="job-items">
                                  <div class="company-img">
                                      <a href="#"><img src="assets/img/icon/job-list3.png" alt=""></a>
                                  </div>
                                  <div class="job-tittle job-tittle2">
                                      <a href="#">
                                          <h4>Encargado de Marketing Digital</h4>
                                      </a>
                                      <ul>
                                          <li>Agencia Creativa</li>
                                          <li><i class="fas fa-map-marker-alt"></i>Santo Domingo, Rep.Dom</li>
                                          <li>RD$100,000 - RD$120,000</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="items-link items-link2 f-right">
                                <a routerLink="/work-detail">Ver Completo</a>
                                  <span>Hace 3 Dias</span>
                              </div>
                          </div>

                          <div class="single-job-items mb-30">
                              <div class="job-items">
                                  <div class="company-img">
                                      <a href="#"><img src="assets/img/icon/job-list4.png" alt=""></a>
                                  </div>
                                  <div class="job-tittle job-tittle2">
                                      <a href="#">
                                          <h4>Director Creativo</h4>
                                      </a>
                                      <ul>
                                        <li>Consultora de Software</li>
                                          <li><i class="fas fa-map-marker-alt"></i>Santo Domingo, Rep.Dom</li>
                                          <li>RD$180,000 - $200,000</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="items-link items-link2 f-right">
                                <a routerLink="/work-detail">Ver Completo</a>
                                  <span>Hace 3 Dias</span>
                              </div>
                          </div>

                          <div class="single-job-items mb-30">
                              <div class="job-items">
                                  <div class="company-img">
                                      <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                  </div>
                                  <div class="job-tittle job-tittle2">
                                      <a href="#">
                                          <h4>Administrador de Bases de Datos</h4>
                                      </a>
                                      <ul>
                                        <li>Consultora de Software</li>
                                          <li><i class="fas fa-map-marker-alt"></i>Santo Domingo, Rep.Dom</li>
                                          <li>RD$90,000 - $150,000</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="items-link items-link2 f-right">
                                <a routerLink="/work-detail">Ver Completo</a>
                                  <span>Hace 5 Dias</span>
                              </div>
                          </div>
                      </div>
                  </section>
              </div>
          </div>
      </div>
</div>
