<div class="slider-area ">
  <div class="single-slider section-overly slider-height2 d-flex align-items-center background">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap text-center text">
                      <h2>Vacante</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>

  <div class="job-post-company">
      <div class="container">
          <div class="row justify-content-between">

              <div class="col-xl-7 col-lg-8">

                  <div class="single-job-items mb-50">
                      <div class="job-items">
                          <div class="company-img company-img-details">
                              <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                          </div>
                          <div class="job-tittle">
                              <a href="#">
                                  <h4>Nombre de la Vacante</h4>
                              </a>
                              <ul>
                                  <li>Creative Agency</li>
                                  <li><i class="fas fa-map-marker-alt"></i>Santo Domingo, Rep.Dom</li>
                                  <li>$$$$$ - $$$$$$</li>
                              </ul>
                          </div>
                      </div>
                  </div>


                  <div class="job-post-details">
                      <div class="post-details1 mb-50">

                          <div class="small-section-tittle">
                              <h4>Descripcion del Puesto</h4>
                          </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quas blanditiis illo tempore ipsam.</p>
                      </div>
                      <div class="post-details2  mb-50">

                          <div class="small-section-tittle">
                              <h4>Conomiento Requerido, Habilidades, y Skills</h4>
                          </div>
                         <ul>
                             <li>Habilidad 1</li>
                             <li>Habilidad 2 </li>
                             <li>Habilidad 3</li>
                             <li>Habilidad 4</li>
                             <li>Habilidad 5</li>
                         </ul>
                      </div>
                      <div class="post-details2  mb-50">

                          <div class="small-section-tittle">
                              <h4>Educacion + Experiencia</h4>
                          </div>
                         <ul>
                             <li>Educacion 1 </li>
                             <li>Educacion 2</li>
                             <li>Educacion 3</li>
                             <li>Experiencia 1</li>
                             <li>Experiencia 2</li>
                         </ul>
                      </div>
                  </div>

              </div>

              <div class="col-xl-4 col-lg-4">
                  <div class="post-details3  mb-50">

                     <div class="small-section-tittle">
                         <h4>Resumen de la Vacante</h4>
                     </div>
                    <ul>
                        <li>Fecha Publicacion :</li>
                        <li>Ubicacion : </li>
                        <li>Vacante : </li>
                        <li>Salario :  </li>
                    </ul>
                   <div class="apply-btn2">
                      <a class="btn">Aplicar</a>
                   </div>
                 </div>
              </div>
          </div>
      </div>
  </div>
