
<div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center background">
                        <div class="row" style="padding-top: 15em;">
                            <div class="col-xl-8">

                                <form action="#" class="search-box">
                                    <div class="input-form">
                                        <input type="text" placeholder="Titulo del trabajo ">
                                        <a href="#" class="btn head-btn1">Buscar</a>
                                    </div>
                                </form>

                            </div>
                            <div class="container">
                              <div class="row">
                                  <div class="col-xl-6 col-lg-9 col-md-10">
                                      <div class="hero__caption">
                                          <h1>La forma mas rapida y eficaz de encontra trabajo.</h1>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
